.form {
  display: flex;
  border: 2px solid #d3d3d3;
  border-radius: 30px;
}

.input {
  border: none;
  border-radius: 0;
  margin: 10px;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: rgb(0, 149, 246) !important;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #fff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 30px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
